
<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX4bPpNmnBUF-JKHYe7g2joB4kJOwuKnp98A&usqp=CAU"
    cardTitle="Surgiu o Novo filme do Homem de Ferro"
    cardDescription="Surgiu o Novo filme do Homem de Ferro com a sua armadura mais potente no multiverso do Homem de Ferro com participação especial do Homem Aranha"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    smallCardTitle="Saiu a nova versão do Angular"
    smallPhotoCover="https://i.pinimg.com/736x/04/4d/1a/044d1ad66efbd22c158f452d2b91c3ba--avengers-birthday-parties-th-birthday.jpg"
    ></app-small-card>
    <app-small-card
    smallCardTitle="Saiu a nova versão do Angular"
    smallPhotoCover="https://i.pinimg.com/736x/04/4d/1a/044d1ad66efbd22c158f452d2b91c3ba--avengers-birthday-parties-th-birthday.jpg"
    ></app-small-card>
    <app-small-card
    smallCardTitle="Saiu a nova versão do Angular"
    smallPhotoCover="https://i.pinimg.com/736x/04/4d/1a/044d1ad66efbd22c158f452d2b91c3ba--avengers-birthday-parties-th-birthday.jpg"
    ></app-small-card>
  </div>
</div>

